<div id="main-content">
    <div class="list-group">
        <h3>Static data</h3>
        <div class="well well-sm">
            Changing master static data will affect data already registered.<br>
            Please be careful with the maintainance.
        </div>
      <a href="{{ domain }}master/bu" class="list-group-item">
        <i class="glyphicon glyphicon-play-circle"></i><h4 class="list-group-item-heading">BU</h4>
      </a>
      <a href="{{ domain }}master/bucategory" class="list-group-item">
        <i class="glyphicon glyphicon-play-circle"></i><h4 class="list-group-item-heading">BU Group</h4>
      </a>
      <a href="{{ domain }}master/calendar" class="list-group-item">
        <i class="glyphicon glyphicon-play-circle"></i><h4 class="list-group-item-heading">Calendar</h4>
      </a>
      <a href="{{ domain }}master/companyscale" class="list-group-item">
        <i class="glyphicon glyphicon-play-circle"></i><h4 class="list-group-item-heading">Company Scale</h4>
      </a>
      <a href="{{ domain }}master/companystatus" class="list-group-item">
        <i class="glyphicon glyphicon-play-circle"></i><h4 class="list-group-item-heading">Company Status</h4>
      </a>
      <a href="{{ domain }}master/device" class="list-group-item">
        <i class="glyphicon glyphicon-play-circle"></i><h4 class="list-group-item-heading">Device</h4>
      </a>
      <a href="{{ domain }}master/holidaystatus" class="list-group-item">
        <i class="glyphicon glyphicon-play-circle"></i><h4 class="list-group-item-heading">Holiday Status</h4>
      </a>
      <a href="{{ domain }}master/keyword" class="list-group-item">
        <i class="glyphicon glyphicon-play-circle"></i><h4 class="list-group-item-heading">Keyword</h4>
      </a>
      <a href="{{ domain }}master/payment" class="list-group-item">
        <i class="glyphicon glyphicon-play-circle"></i><h4 class="list-group-item-heading">Payment</h4>
      </a>
      <a href="{{ domain }}master/post" class="list-group-item">
        <i class="glyphicon glyphicon-play-circle"></i><h4 class="list-group-item-heading">Post</h4>
      </a>
      <a href="{{ domain }}master/projectstatus" class="list-group-item">
        <i class="glyphicon glyphicon-play-circle"></i><h4 class="list-group-item-heading">Project Status</h4>
      </a>
      <a href="{{ domain }}master/projectstatusext" class="list-group-item">
        <i class="glyphicon glyphicon-play-circle"></i><h4 class="list-group-item-heading">Project Status (outsource)</h4>
      </a>
      <a href="{{ domain }}master/projecttype" class="list-group-item">
        <i class="glyphicon glyphicon-play-circle"></i><h4 class="list-group-item-heading">Project Type</h4>
      </a>
      <a href="{{ domain }}master/projecttypeext" class="list-group-item">
        <i class="glyphicon glyphicon-play-circle"></i><h4 class="list-group-item-heading">Project Type (outsource)</h4>
      </a>
      <a href="{{ domain }}master/role" class="list-group-item">
        <i class="glyphicon glyphicon-play-circle"></i><h4 class="list-group-item-heading">Role</h4>
      </a>
      <a href="{{ domain }}master/taskcategory" class="list-group-item">
        <i class="glyphicon glyphicon-play-circle"></i><h4 class="list-group-item-heading">Task Category</h4>
      </a>
      <a href="{{ domain }}master/taskchildcategory" class="list-group-item">
        <i class="glyphicon glyphicon-play-circle"></i><h4 class="list-group-item-heading">Task Mid Category</h4>
      </a>
      <a href="{{ domain }}master/task" class="list-group-item">
        <i class="glyphicon glyphicon-play-circle"></i><h4 class="list-group-item-heading">Task</h4>
      </a>
      <a href="{{ domain }}master/team" class="list-group-item">
        <i class="glyphicon glyphicon-play-circle"></i><h4 class="list-group-item-heading">Team</h4>
      </a>
      <a href="{{ domain }}master/userstatus" class="list-group-item">
        <i class="glyphicon glyphicon-play-circle"></i><h4 class="list-group-item-heading">User Status</h4>
      </a>
    </div>
</div>
